@import url('https://fonts.googleapis.com/css?family=NovaMono&display=swap');

html * {
  font-family: 'NovaMono', monospace;
  background-color: darkslategray;
  color: white;
}

h1 {
  font-size: 9mm;
}

h2 {
  font-size: 7mm;
}

p {
  font-size: 4mm;
}

code {
  font-size: 4mm;
}

.output-block {
  background-color: dimgray;
  overflow: auto;
  height: 400px;
}

button {
  font-weight: bold;
  font-size: 4mm;
}

a {
  color: yellow;
}
